<div class="background">
<div class="vertical-center">
    <div class="container text-center" id="login">
        <h2 class="text-center">Login</h2><br>
        <form method="post" action="?a=login">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div clas="form-group">
                <input type="submit" name="submit" class="btn btn-default" value="Login">
            </div>
        </form> 
        <br><p>Not registered? <a href="?a=registration">Register</a></p>